body {
    background-color: #121212;
}

.centered {
    /* overflow: hidden; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*centers items on the line (the x-axis by default)*/
    align-items: center;
    /*centers items on the cross-axis (y by default)*/
    font-family: Arial, Helvetica, sans-serif;
}

.text1 {
    font-size: 108px;
    color: rgb(0, 255, 166);
    font-weight: bold;
    text-shadow: 0 0px 10px white;
    transition: .7s ease;
    padding: 25px;
    cursor: pointer;
}

.text2 {
    color: skyblue;
    font-size: 108px;
    font-weight: bold;
    text-shadow: 0 0px 10px white;
    transition: .7s ease-in-out;
}